@use "../../styles/variables" as *;

.badge {
  display: inline-flex;
  align-items: center;
  border-radius: 999px;
  padding: 7px 13px 6px 13px;
  &__status {
    font-size: $font-sm;
    font-weight: $font-weight-regular;
    text-transform: capitalize;

    &__inactive {
      background-color: rgb($text-primary, 0.1);
      color: $text-primary;
    }
    &__active {
      background-color: rgb($color-green, 0.1);
      color: $color-green;
    }
    &__pending {
      background-color: rgb($color-yellow, 0.1);
      color: $color-yellow;
    }
    &__blacklisted {
      background-color: rgb($color-red, 0.1);
      color: $color-red;
    }
  }
}
