@import "variables";
@import "typography";

// Base element styles
a {
  color: $color-secondary;
  transition: color $transition-fast;
  
  &:hover {
    // color: darken($primary-color, 10%);
  }
}

button {
  font-family: inherit;
  transition: all $transition-fast;
}

// Form elements
input, textarea, select {
  font-family: inherit;
  font-size: $font-base;
  line-height: $line-height-tight;
} 