@use "variables" as *;
@use "typography" as *;

// Base element styles
a {
  color: $color-secondary;
  transition: color $transition-fast;
  text-decoration: inherit;
  transition: 0.3s;
  &:hover {
    color: $color-secondary;
    opacity: 0.8;
  }
}

button {
  font-family: inherit;
  transition: all $transition-fast;
}

// Form elements
input,
textarea,
select {
  font-family: inherit;
  font-size: $font-base;
  line-height: $line-height-tight;
}
