@use "../../../styles/variables" as *;
@use "../../../styles/typography" as *;

.input__wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input__label {
  display: block;
  font-size: $font-sm;
  line-height: 1.5;
  font-weight: $font-weight-medium;
  color: $color-primary;
}

.input__textfield {
  border: 2px solid rgb(84, 95, 125, 0.15);
  padding: 17.5px 16px 12.5px 16px;
  outline: none;
  width: 100%;
  font-size: $font-sm;
  color: $color-primary;
  transition: all 0.3s ease;
  font-weight: $font-weight-regular;

  &::placeholder {
    color: $color-primary;
    font-weight: $font-weight-regular;
  }

  &--hover {
    border-color: $color-primary;
  }

  &--focus {
    border-color: $color-secondary;
  }

  &--disabled {
    background-color: $color-background;
    cursor: not-allowed;
  }

  &--error-state {
    border-color: $color-red;
    &-text {
      color: $color-red;
    }
  }
}

.input__group {
  display: flex;
  align-items: center;
  border: 2px solid rgb(84, 95, 125, 0.15);
  overflow: hidden;
  background-color: white;
  height: 100%;

  &--hover {
    border-color: $color-primary;
  }

  &--focus {
    border-color: $color-secondary;
  }

  &--disabled {
    background-color: $color-background;
    cursor: not-allowed;
  }

  &--error-state {
    border-color: $color-red;
    &-text {
      color: $color-red;
    }
  }

  &__children {
    background: $color-white;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__prefix {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    background-color: $color-white;
    height: 100%;
    // padding: 12px 12px 8px 12px;
    font-size: $font-base;
    // color: rgb(107, 114, 128);
    font-weight: $font-weight-regular;
  }

  &__input {
    width: 100%;
    border: none;
    outline: none;
    font-size: $font-base;
    color: $color-primary;
    background-color: $color-white;
    transition: all 0.3s ease;
    font-weight: $font-weight-regular;

    &::placeholder {
      color: rgb(156, 163, 175);
      font-weight: $font-weight-regular;
    }

    &:focus {
      outline: 2px solid rgb(79, 70, 229);
      outline-offset: 2px;
    }
  }

  input {
    width: 100%;
    // padding: 17.5px 16px 12.5px 16px;
    border: none;
    outline: none;
    width: 100%;
    font-size: $font-sm;
    color: $color-primary;
    background-color: $color-white;
    transition: all 0.3s ease;
    font-weight: $font-weight-regular;

    &::placeholder {
      color: $color-primary;
      font-weight: $font-weight-regular;
    }
  }
}
