@use "../../styles/variables" as *;

.menu {
  // background-color: red;
  position: relative;
  &__button {

  }
  &__flyoutmenu {
    position: absolute;
    top: 100%;
    right: 5%;
    z-index: 2;
    border-radius: 4px;
    background-color: $color-white;
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    overflow: hidden;
    border: 1px solid rgb($text-primary, 0.05);
  }

}
